/* 1. Reset / variables */

* {
    box-sizing: border-box;
    padding: 0;
    margin: auto;
}

:root {
    /* PALETA COLORES */
    --color-primario: #075dba;
    --color-secundario: #ffffff;
    --color-gris: #5f59597b;

    /* TIPOGRAFIA */
    --fuente-de-texto: "Poppins", system-ui, sans-serif;

    /* TEXTOS */
    --texto-principal: #111827;
    --texto-secundario: #4b5563;
    --texto-inverso: #f9fafb;
}


/* 2. Layout general (body, main, header, footer) */





/* 3. Navbar */

.navBar {
    background-color: var(--color-primario);
    color: var(--color-secundario);
    align-items: center;
    display: flex;
}

.navBar__logo {
    max-height: 40px;
    width: auto;
}

.navBar__right {
    justify-content: end;
}

.navBar__left {
    justify-content: start;
    margin: 0px;
    color: var(--color-secundario);
}

.navBar__hamburguesa {
    display: none;
    background: none;
    border: none;
    cursor: pointer;
    font-size: 1.5rem;
    color: var(--color-secundario);
}

.navBar__hamburguesa i {
    color: var(--color-secundario);
    font-size: 20px;
}

.navBar__input {
    border-radius: 10px;
    color: var(--color-primario);
    padding: 10px;
    background-color: var(--color-secundario);

}

.navBar__icono {
    color: var(--color-primario);
}

.navBar__search {
    border: none;
    outline: none;
}

/* MEDIA QUERYS */

@media (max-width: 768px) {
    .navBar__right {
        display: none;
        /* ocultar links */
    }

    .navBar__hamburguesa {
        display: inline-flex;
        /* mostrar botón */
        align-items: center;
        justify-content: center;
    }
}

/* 4. Sección home */



/* 5. Listado productos */



/* 6. Detalle producto */




/* 7. Media queries (mobile / tablet / desktop) */