/* 1. Reset / variables */

* {
    box-sizing: border-box;
    padding: 0;
    margin: auto;
}

:root {
    /* PALETA COLORES */
    --color-primario: #075dba;
    --color-secundario: #ffffff;
    --color-gris: #5f59597b;

    /* TIPOGRAFIA */
    --fuente-de-texto: "Poppins", system-ui, sans-serif;

    /* TEXTOS */
    --texto-principal: #111827;
    --texto-secundario: #4b5563;
    --texto-inverso: #f9fafb;
}


/* 2. Layout general (body, main, header, footer) */





/* 3. Navbar */

.navBar {
    background-color: var(--color-primario);
    color: var(--color-secundario);
    align-items: center;
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.navBar__logo {
    max-height: 40px;
    width: auto;
}

.navBar__right {
    justify-content: end;
}

.navBar__left {
    display: flex;
    text-align: center;
    align-items: center;
    margin: 0px;
    color: var(--color-secundario);
    gap: 200px;
    margin-bottom: 20px;
}

.navBar__hamburguesa {
    display: none;
    background: none;
    border: none;
    cursor: pointer;
    font-size: 1.5rem;
    color: var(--color-secundario);
}

.navBar__hamburguesa i {
    color: var(--color-secundario);
    font-size: 20px;
}

.navBar__input {
    border-radius: 10px;
    color: var(--color-primario);
    padding: 10px;
    background-color: var(--color-secundario);

}

.navBar__icono {
    color: var(--color-primario);
}

.navBar__search {
    border: none;
    outline: none;
}

/* Menú móvil oculto por defecto */
.navbar__menu {
  position: fixed;
  inset: 0; /* top:0; right:0; bottom:0; left:0 */
  background: rgba(0, 0, 0, 0.4);       /* fondo oscuro */
  display: none;                        /* oculto */
  justify-content: flex-end;
  z-index: 1000;
}

/* El panel blanco del menú */
.navbar__menu-container {
  background: #ffffff;
  width: 70%;
  max-width: 280px;
  height: 100%;
  padding: 2rem 1.5rem;
}

/* Links del menú */
.navbar__menu-link {
  display: block;
  margin-bottom: 1rem;
  color: var(--texto-principal);
  text-decoration: none;
  font-weight: 500;
}

/* Cuando está abierto */
.navbar__menu--open {
  display: flex;
}


/* MEDIA QUERYS NAVBAR*/

@media (max-width: 768px) {
  .navbar__menu {
    display: none !important;
      }

    .navBar__right {
        display: none;
        /* ocultar links */
    }

    .navBar__hamburguesa {
        display: inline-flex;
        /* mostrar botón */
        align-items: center;
        justify-content: center;
    }
}

/* 4. Sección home */



/* 5. Listado productos */



/* 6. Detalle producto */




/* 7. Media queries (mobile / tablet / desktop) */