/* 1. Reset / variables */

* {
    box-sizing: border-box;
    padding: 0;
    margin: auto;
}


:root {
    /* PALETA COLORES */
    --color-primario: #075dba;
    --color-secundario: #ffffff;
    --color-gris: #5f59597b;

    /* TIPOGRAFIA */
    --fuente-de-texto: "Poppins", system-ui, sans-serif;
    --texto-sm: 14px;
    --texto-md: 16px;
    --texto-lg: 18px;

    --titulo-sm: 20px;
    --titulo-md: 24px;
    --titulo-lg: 32px;

    /* PESO DE FUENTE TIPOGRAFICA */
    --font-regular: 400;
    --font-medium: 500;
    --font-semibold: 600;
    --font-bold: 700;


    /* TEXTOS */
    --texto-principal: #111827;
    --texto-secundario: #4b5563;
    --texto-inverso: #f9fafb;
}


/* 2. Layout general (body, main, header, footer) */

body {
    font-family: var(--fuente-de-texto);
}

header {
    position: relative;
    z-index: 10;
}



/* 3. Navbar */

.navBar {
    background-color: var(--color-primario);
    color: var(--color-secundario);
    align-items: center;
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.navBar__logo {
    max-height: 40px;
    width: auto;
}

.navBar__right {
    justify-content: end;
}

.navBar__left {
    display: flex;
    text-align: center;
    align-items: center;
    margin: 0px;
    color: var(--color-secundario);
    gap: 200px;
    margin-bottom: 20px;
}

.navBar__hamburguesa {
    display: none;
    background: none;
    border: none;
    cursor: pointer;
    font-size: 1.5rem;
    color: var(--color-secundario);
}

.navBar__hamburguesa i {
    color: var(--color-secundario);
    font-size: 20px;
}

.navBar__input {
    border-radius: 10px;
    color: var(--color-primario);
    padding: 10px;
    background-color: var(--color-secundario);

}

.navBar__icono {
    color: var(--color-primario);
}

.navBar__search {
    border: none;
    outline: none;
}

/* Menú móvil oculto por defecto */
.navBar__menu {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    display: none;
    z-index: 20;
}

/* El panel blanco del menú */
.navBar__menu-container {
    padding: 15px;
    gap: 20px;
    display: flex;
    flex-direction: column;
    background-color: #eeeeee;
    box-shadow: 0 10px 25px var(--color-gris);
    width: 100%;
}

/* Links del menú */
.navBar__menu-link {
    display: block;
    font-weight: var(--font-bold);
    color: var(--color-primario);
    text-decoration: none;
    font-weight: 500;
    padding: 0.5rem 0;
    transition: color 0.2s ease, transform 0.2s ease;
}

.navBar__group {
    display: flex;
    text-align: center;
    gap: 10px;
    align-items: center;
}

.navBar__input--icono {
    color: var(--color-primario);
}


/* Cuando está abierto */
.navbar__menu--open {
    display: flex;
}


/* MEDIA QUERYS NAVBAR*/

@media (max-width: 768px) {
    .navbar__menu {
        display: none !important;
    }

    .navBar__right {
        display: none;
        /* ocultar links */
    }

    .navBar__hamburguesa {
        display: inline-flex;
        /* mostrar botón */
        align-items: center;
        justify-content: center;
    }
}

/* 4. Sección home */



/* 5. Listado productos */



/* 6. Detalle producto */




/* 7. Media queries (mobile / tablet / desktop) */